<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="fragments/header"></th:block>

  <div class="container">
    <div th:if="${article != null}" class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4 th:text="${article.title}">Title</h4>
          <h6 th:text="${article.category}">Category</h6>
          <h6 class="left-align light" th:text="'written by ' + ${article.author}">Author</h6>
          <p class="left-align light" th:text="${article.description}"></p>
        </div>
      </div>

      <div class="row center">
        <a th:href="@{'/article/' + ${article.articleId}}"
           class="btn-large waves-effect waves-light teal lighten-1">continue</a>
      </div>

    </div>

    <div th:if="${article == null}" class="section">

      <div class="row">
        <div class="col s12 center">
          <h4>Lorem Ipsum</h4>
          <h6>John Doe</h6>
          <p class="left-align light">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
            At vero eos et accusam et justo duo dolores et ea rebum.</p>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
            ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
            amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
            ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Lorem ipsum dolor sit amet,
            consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
            aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 2"></div>
  </div>

<th:block th:include="fragments/footer"></th:block>