<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="fragments/head"></th:block>

<body class="index-page sidebar-collapse">
<th:block th:include="fragments/navbarTransparent"></th:block>

<div class="main">
    <th:block th:include="fragments/navbarPrimary"></th:block>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col">

                    <div class="title">
                        <h2>Table with Pagination</h2>
                    </div>

                    <table class="table table-responsive highlight">
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Category</th>
                        <th>Updated At</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each = "article : ${articlesList}">
                        <td th:text="${article.title}"></td>
                        <td th:text="${article.author}"></td>
                        <td th:text="${article.category}"></td>
                        <td th:text="${#dates.format(article.updatedAt, 'dd-MMM-yyyy')}"></td>
                        <td><a th:href="@{/article/{id}(id=${article.articleId})}"><i class="fab fa-readme"></i></a></td>
                        <td><a th:href="@{/article/{id}/edit(id=${article.articleId})}"><i class="far fa-edit"></i></a></td>
                        <td><a th:href="@{/article/{id}/delete(id=${article.articleId})}"><i class="fas fa-trash-alt"></i></a></td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        <br>
        &nbsp;&nbsp;&nbsp;
        <br>
        <div class="container">
            <div class="row">
                <div class="col">
                    <!--include if you want to select pagesize: 5,10 -->
                    <!--
                    <div>
                        <select id="pageSizeSelect">
                            <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
                                    th:value="${pageSize}"
                                    th:selected="${pageSize} == ${selectedPageSize}"></option>
                        </select>
                    </div>-->

                    <div th:if="${articlesList.totalPages != 1}" class="section">
                        <ul class="pagination pagination-primary">
                            <li class="page-item" th:class="${articlesList.number == 0} ? disabled">
                                <a class="page-link" th:href="@{/articles/(pageSize=${selectedPageSize}, page=1)}">«</a>
                            </li>
                            <li class="page-item" th:class="${articlesList.number == 0} ? disabled">
                                <a class="page-link" th:href="@{/articles/(pageSize=${selectedPageSize}, page=${articlesList.number})}">←</a>
                            </li>
                            <li th:class="${articlesList.number == (page - 1)} ? 'active page-item'"
                                th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                                <a class="page-link" th:href="@{/articles/(pageSize=${selectedPageSize}, page=${page})}" th:text="${page}"></a>
                            </li>
                            <li class="page-item" th:class="${articlesList.number + 1 == articlesList.totalPages} ? disabled">
                                <a class="page-link" th:href="@{/articles/(pageSize=${selectedPageSize}, page=${articlesList.number + 2})}">→</a>
                            </li>
                            <li class="page-item" th:class="${articlesList.number + 1 == articlesList.totalPages} ? disabled">
                                <a class="page-link" th:href="@{/articles/(pageSize=${selectedPageSize}, page=${articlesList.totalPages})}">»</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<th:block th:include="fragments/footer"></th:block>

<th:block th:include="fragments/scripts"></th:block>
</body>

</html>